workflows/[n8n][old]export_workflows_as_json_old_sh_version.json
{"updatedAt":"2025-11-04T17:02:07.000Z","createdAt":"2025-11-03T18:28:57.915Z","id":"JMo9tewRjxZYVmhF","name":"[n8n][old]export_workflows_as_json_old_sh_version","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[176,-256],"id":"85ef1d07-0e92-4c6f-985c-4a3c5ee68e34","name":"When clicking ‘Execute workflow’"},{"parameters":{"command":"cat /tmp/workflows/all-workflows.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1072,-160],"id":"043ee9f7-805c-41ff-a104-e0c8d4c40547","name":"Open file"},{"parameters":{"operation":"write","fileName":"=/tmp/workflows/{{ $binary.data.fileName }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1968,-256],"id":"9900b0a0-f6b7-4479-9401-ba3fb8307b40","name":"Read/Write Files from Disk"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1744,-256],"id":"d9cb0a8e-c162-4d1d-86bd-23544d71c220","name":"Convert to File"},{"parameters":{"jsCode":"const items = $input.all();\nconst fileContent = items[0].json.stdout;\n\nconst allData = JSON.parse(fileContent);\n// If workflows are in an array at root level\nconst workflows = Array.isArray(allData) ? allData : allData.workflows || [allData];\n\nreturn workflows;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-160],"id":"57620aa8-f6f1-484b-8ac9-cfea883d7ed8","name":"Split json to separate workflows"},{"parameters":{"content":"#### Note about n8n export command\n1. there is a way to export workflows in separate files in one command\n`n8n export:workflow --all --pretty --separate --output=/tmp/`\nbut its using `workflowID` as filename and I'd like to have workflow name instead\n2. Also command shows also already deleted workflows","height":144,"width":512,"color":2},"type":"n8n-nodes-base.stickyNote","position":[848,48],"typeVersion":1,"id":"b3d77b06-c778-4b1e-9719-4ef88aeb839b","name":"Sticky Note"},{"parameters":{"command":"n8n export:workflow --all --pretty --output=/tmp/workflows/all-workflows.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[848,-160],"id":"3c2dc980-e6cc-40fb-8fa8-24c998164a28","name":"Export all workflows from n8n"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1744,-64],"id":"0413f804-2531-42f9-a408-2b40d7a34bc0","name":"Do nothing with deleted files"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0993fcf5-2057-4e42-82cc-dd9ddca71e47","leftValue":"={{ $json.isArchived }}","rightValue":"true","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,-160],"id":"f2a6add6-f8f1-4fb9-a53b-5b8dcfa79bc3","name":"Check if workflow is deleted"},{"parameters":{"command":"ls /tmp/workflows"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[400,-160],"id":"789edd8e-0139-4fe0-80e5-1dd2f7f430c2","name":"Check if directory for workflows esists","onError":"continueErrorOutput"},{"parameters":{"command":"mkdir /tmp/workflows"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[624,-96],"id":"8be79113-d73c-417f-9c50-a15e20308d2b","name":"Create directory"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[176,-64],"id":"f08fdccb-be34-4279-a741-eda680f1095d","name":"When Executed by Another Workflow"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Check if directory for workflows esists","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0},{"node":"Code in JavaScript1","type":"main","index":0}]]},"Open file":{"main":[[{"node":"Split json to separate workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Split json to separate workflows":{"main":[[{"node":"Check if workflow is deleted","type":"main","index":0}]]},"Export all workflows from n8n":{"main":[[{"node":"Open file","type":"main","index":0}]]},"Check if workflow is deleted":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Do nothing with deleted files","type":"main","index":0}]]},"Check if directory for workflows esists":{"main":[[{"node":"Export all workflows from n8n","type":"main","index":0}],[{"node":"Create directory","type":"main","index":0}]]},"Create directory":{"main":[[{"node":"Export all workflows from n8n","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Check if directory for workflows esists","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0b6970e-340e-4fa1-95f4-9a814a502de7","triggerCount":0,"shared":[{"updatedAt":"2025-11-03T18:28:57.923Z","createdAt":"2025-11-03T18:28:57.923Z","role":"workflow:owner","workflowId":"JMo9tewRjxZYVmhF","projectId":"dL8YKrh5gAsYUBJ3"}],"tags":[]}